resources/public/scripts/starter_kit.js
resources/public/scripts/cljs/
resources/public/scripts/clojure/
resources/public/scripts/tmp/

/target
/lib
/classes
/checkouts
/war
/tmp
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.dir-locals.el
